*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');



body{
    background: linear-gradient(135deg, #0A192F 0%, #112240 100%);
    font-family: 'Inter', sans-serif;
    letter-spacing: -.025em;
   max-width: 100%;

}
.container{
    display: flex;
    min-height: 150vh;
    overflow: hidden; 
    width: 100%;
}
.glow {
    position: absolute;
    width: 650px;
    height: 650px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 90%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
   
}
.body_left {
   
    padding: 80px 200px;
    max-height: 100vh;
   
}

.body_right {
   
    padding: 80px;
   
  max-height: 250vh;
    
}



.body_right > p {
    max-width: 650px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2;
    
}
h1{
    color: rgba(255, 255, 255, 0.8);
}
h2 {
    margin-top: 20px;
    max-width: 500px; 
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
/* h3{
    margin-top: 20px;
} */
nav{
padding-top: 70px;

}
.nav-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    width: 200px;
}
.nav-item:hover{
    color: aliceblue;
}
.nav-item span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 10px; /* Khoảng cách giữa thanh và chữ */
}
.nav-item:hover span {
    background-color: white; /* Thanh đổi màu trắng */
    width: 80px; /* Thanh dài ra gấp đôi */
}
.experiences{
    display: flex;
   margin-top: 50px;
   padding: 20px;
   margin-left: -20px;
}
.experiences:hover{
    background-color: rgba(54, 226, 200, 0.05); /* Màu hover nhạt hơn */
    border-radius: 8px;
 
}

.time{
    width: 120px;
}
.time p{
    color: rgba(255, 255, 255, 0.5);
}
.time-work p{
    max-width: 500px;
    line-height: 2;
  
    color: rgba(255, 255, 255, 0.5);
}
.time-work{
    /* margin-top: -20px; */
    padding-left: 50px;
}
.time-work h3{
    color: rgba(255, 255, 255, 0.5);
    
}
.tag-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các thẻ */
    padding-top: 20px;
}

.tag {
    background-color: rgba(32, 60, 71, 0.8); /* Màu nền thẻ */
    color: #36e2c8; /* Màu chữ */
    padding: 8px 16px; /* Kích thước padding */
    border-radius: 20px; /* Bo góc tròn */
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize; /* Chữ in hoa chữ cái đầu */
    display: inline-block;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-family: 'Inter', sans-serif;
}

.tag:hover {
    background-color: rgba(54, 226, 200, 0.3); /* Khi hover, màu sáng lên */
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ */
}
.img-avt{
    width: 150px;
    height: 100px;
    border-radius: 8px;
}
a{
    text-decoration: none;
}